





body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background: #FFF;
  
           
}


/*header*/


.cman-cman{
     
    
    text-decoration: none;

}

.pedro-pablo {

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--IRIS, #4D5AE5);
    font-style: normal;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration:none;
    line-height: 1.17;

}

.web-beb {

   color: var(--NAVY-BLUE, #2E2F42);
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 21px; /* 116.667% */
   letter-spacing: 0.54px;
   text-transform: uppercase;
   text-decoration:none;
   line-height: 1.17 
}

.info a{


    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
   

}

.index-bimbex{

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration:none;
   
}


.index-bimbex:hover,
.index-bimbex:focus {

    color: #404bbf;

}



.links{
      
    font-style: normal;
    text-decoration: none;


}

.clue-links{ 

    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    text-decoration: none;


}

.clue-links:hover,
.clue-links:focus {
            
    color: #404bbf;

}

/*section 1*/



.main-section {
  
    background: var(--NAVY-BLUE, #2E2F42);

    
}






.main-name {
  
    color: var(--WHITE, #FFF);

    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    text-align: center;
 
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
}


.order-service {
    
    color: var(--WHITE, #FFF);
  /* Button Text */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
  /*Button*/
   
    background: var(--IRIS, #4D5AE5);
    
   
    cursor: pointer;
    
 

}

.order-service:hover,
.order-service:focus {

    background-color:#404BBf;

    

}


/*sectiion 2*/







.point-name {
   
    text-decoration: none;
    letter-spacing: 0.02em;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 500;
    color: #2e2f42;


}

.point-strategy{

    color: var(--SLATE, #434455);
    /* Body */
    font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 150% */
   letter-spacing: 0.32px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color:#434455;

}



/*section 3*/

.generel-gavs {

    
   
   
    background: var(--CLOUD, #F4F4FD);

}


.team {

    
    color: var(--NAVY-BLUE, #2E2F42);
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    line-height: 1.11;
}



.list-part {
   
    
   
    
    background: var(--WHITE, #FFF);
    


}







.name-bame {

    color: var(--NAVY-BLUE, #2E2F42);
   /* Header 3 */
   font-family: Roboto;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.2; /* 120% */
   letter-spacing: 0.02em;

}


.stelle{

  
   color: var(--SLATE, #434455);
   /* Body */
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.5; /* 150% */
   letter-spacing: 0.02em;
}



/*section 4*/





.last-section-name{
    
    color: var(--NAVY-BLUE, #2E2F42);
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    line-height: 1.11;
    text-align: center;


}








.project-card{

    
   
    background: var(--WHITE, #FFF);
}




.card-name{
    
    
    color: var(--NAVY-BLUE, #2E2F42);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;

}

.card-solve{
  
    color: var(--SLATE, #434455);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}



/*footer*/ 

.footer-start{

    background-color: #2e2f42;
}


.span-class{

    color: #f4f4fd;
}


.parag-footer{

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;

}
